{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
    <link rel="stylesheet" href="{% static 'css/faq.css' %}">
     
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
</head>

<body>

    <!-- This is for nav bar-->
    <div class="page-wrapper">
        <div class="nav-wrapper">
            <div class="grad-bar"></div>
            <nav class="navbar">
                <img src="{% static 'ima/logo5.png'%}" alt="Company Logo">
                <div class="menu-toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="nav no-search">
                    <li class="nav-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="nav-item"><a href="{% url 'search' %}">Search</a></li>
                    <li class="nav-item"><a href="{%url 'app'%}">Predict</a></li>
                    <li class="nav-item"><a href="{% url 'faq' %}">Faq</a></li>
                    <li class="nav-item"><a href="{% url 'forms' %}">Forms</a></li>
                    

                </ul>
            </nav>
        </div>

        <!-- This is for nav bar-->
        <!-- this is for faq-->
        <section class="main-section">
            <div id="faqs" class="container">
                <h2 class="line-heading">Frequently Asked Questions</h2>
                <h3 class="large-heading">Some of the most common questions asked about Website Design & Development.
                </h3>
                <div id="faqSection" class="fullwidth-container">
                    <div>
                        <button class="collapsible">How do I post a property for rent on RENTURHOUSE.com ?</button>
                        <div class="faq-content">
                            <p>there will be a rentee form page where you can give your property 
                                details like no of bedrooms ,no of bathrooms ,house size and location and even
                                you are allowed to upload your picture of your house
                            </p>
                        </div>
                        <button class="collapsible">What details should I include to advertise my property for sale on RENTURHOUSE.com?</button>
                        <div class="faq-content">
                            <p>You can post free property ad on Housing.com website. Prospective homebuyers and tenants will then go through
                                 your listing/s and shortlist the property based on the information you provide. If you are looking to sell
                                  property online or post property for rent, you must give out all the details correctly. Such details include
                                   the type of property, for example, make sure you tell them whether you are looking to sell flat online or an
                                    independent house. Other details include BHK, number of bathrooms, balconies ,construction status of the property, 
                                    furnishing, parking, size of the property and real pictures of your property. Make sure your listing completeness 
                                    is 100% for quick response from homebuyers and tenants.</p>
                        </div>
                        <button class="collapsible">How do home owners benefit by listing their property?</button>
                        <div class="faq-content">
                            <p>Most prospective homebuyers would like to interact directly with the owner of the property. If you are looking
                                 to sell property online, simply post free property ad on our property site and relax while you get enquiries 
                                 from prospective high-intent homebuyers or tenants. Make the best of genuine, high-quality leads and sell 
                                 property faster.</p>
                        </div>
                        <button class="collapsible">Is renting a house expensive? </button>
                        <div class="faq-content">
                            <p>Not necessarily. It depends on the neighborhood. Some area, such as koramangala , have lots of single-family
                                 homes for rent, and prices are competitive with apartment complexes. In other places, such as parts of electronic
                                city, stand-alone rental houses are scarce and highly expensive.</p>
                        </div>
                    </div>
                    <div>
                        <button class="collapsible">Do I get dedicated support for renting/selling my property?</button>
                        <div class="faq-content">
                            <p>Yes, our enthusiastic team is right there when you need them. We are reachable at 1800-313-4777. 
                                You could also write to us at support@housing.com for dedicated assistance anytime, from anywhere!
                                Our team can help you with listing rental properties as well as property for sale. Facing trouble
                                listing your property? Tell us and we will take care of it.
                            </p>
                        </div>
                        <button class="collapsible">What i can do if i didn't receive my rent ?</button>
                        <div class="faq-content">
                            <p>you can contact our service team and we will solve it .</p>
                        </div>
                    </div>
                </div>
            </div>


        </section>

        <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var content = this.nextElementSibling;
                    if (content.style.maxHeight) {
                        content.style.maxHeight = null;
                        content.style.visibility = "hidden";
                        content.style.margin = "0 2%";
                    } else {
                        content.style.maxHeight = content.scrollHeight + "px";
                        content.style.visibility = "visible";
                        content.style.margin = "12px 2%";
                    }
                });
            }
        </script>
</body>

</html>